.contact{
  height: 100vh;
  background-color: grey;
}

.contact .content{
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.contact .email{
  font-size: 3em;
  color: white;
  text-decoration: none;
}

.contact .socialbar a{
  display: inline-block;
  font-size: 3em;
  color: white;
  margin-right: 20px;
}
